.vs/
HydrogenViewer.sln
tests/tests.sln
bin/
bin-obj/
Hydrogen/Hydrogen.vcxproj.filters
Hydrogen/Hydrogen.vcxproj.user
Hydrogen/Hydrogen.vcxproj
SandBox/imgui.ini

SandBox/SandBox.vcxproj
SandBox/SandBox.vcxproj.filters
SandBox/SandBox.vcxproj.user
SandBox/Log.txt

Releases/
SandBox/Resources

tests/.vs

Tools/.vs
Tools/Tools.sln
Tools/Hydrofiler.vcxproj.user
Tools/Hydrofiler.vcxproj
Tools/Hydrofiler/bin
Tools/Hydrofiler/bin-obj